# Converting Tables from Wikipedia

This code is used to convert table in wikipedia into csv format
I learn how to make this code form [Wiki scrap](https://github.com/softhints/python/blob/master/notebooks/Scrape%20wiki%20tables%20with%20pandas%20and%20python.ipynb) and [using tabula](http://theautomatic.net/2019/05/24/3-ways-to-scrape-tables-from-pdfs-with-python/).

In [39]:
from pandas.io.html import read_html
import numpy as np

url = 'https://id.wikipedia.org/wiki/Daftar_pembangkit_listrik_di_Indonesia'
wikitables = read_html(url, attrs={"class":"wikitable"})

In [24]:
print ("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 11 wikitables

In [25]:
nuklir_pp = wikitables[0]

In [26]:
fossil_pp = wikitables[1]

In [27]:
gas_pp = wikitables[2]

In [28]:
diesel_pp = wikitables[3]

In [29]:
geothermal_pp = wikitables[4]

,Nama,Lokasi,Kecamatan,Kabupaten/Kota,Provinsi,Koordinat,Tipe,Kapasitas,Jenis dan jumlah pembangkit,Operator,Sektor
0,PLTP Geo Dipa Unit Dieng,NaN,Dieng,Kabupaten Wonosobo,Jawa Tengah,NaN,NaN,1 x 60 MW,PLTP total 1 unit 60 MW,NaN,NaN
1,PLTP Gunung Salak,NaN,NaN,Sukabumi,Jawa Barat,NaN,NaN,"3 x 60, 3 x 65,5",6 Turbin PLTP total 377Mw,NaN,NaN
2,PLTP Kamojang,NaN,NaN,Garut,Jawa Barat,NaN,NaN,350 MW,5 Unit PLTP,NaN,NaN
3,PLTP Wayang Windu,NaN,NaN,Pangalengan,Jawa Barat,NaN,NaN,371 Mw,PLTP,NaN,NaN

In [30]:
solar_pp = wikitables[5]

In [31]:
solar_plan_pp = wikitables[6]

In [32]:
hydro_pp = wikitables[7]

In [33]:
hydro_plan_pp = wikitables[8]

In [34]:
wind_pp = wikitables[9]

In [35]:
wind_pp

,Nama,Lokasi,Kecamatan,Kabupaten/Kota,Provinsi,Koordinat,Mulai Beroperasi,Unit,Kapasitas,Tipe,Manufaktur Turbin Angin,Operator,Sektor,Catatan
0,PLTB Nusa Penida,Pulau Nusa Penida,Nusa Penida,Klungkung,Bali,-8.73132/115.53113,13 November 2007-2008,9,720 kW,Horizontal,NaN,NaN,NaN,Terbengkalai dan rusak[7]
1,PLTB Sidrap,"Desa Mattirotasi, Maros",Watang Pulu,Sidenreng Rappang,Sulawesi Selatan,-3.9764/119.7148,5 April 2018,30x2.5,75 MW,Horizontal,Siemens,NaN,NaN,NaN
2,PLTB Tolo 1 Jeneponto,Tolo,Binamu,Jeneponto,Sulawesi Selatan,-5.63086/119.76886,21 November 2018,20x3.6,72 MW,Horizontal,NaN,NaN,NaN,NaN

In [36]:
a = wikitables[10]

In [37]:
a

Empty DataFrame
Columns: [Nama, Lokasi, Kecamatan, Kabupaten/Kota, Provinsi, Koordinat, Unit, Kapasitas, Tipe, Mulai Beroperasi]
Index: []

In [38]:
b = wikitables [11]

IndexError: list index out of range

In [43]:
tableNum = len(wikitables)
tableList = np.arange(1, tableNum, 1)

In [44]:
tableList

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])